body {
  margin: 0;
  background-image: url(/src/img/bg2.jpg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  padding-top: auto;
  margin: auto;
  text-align: center;
 
}
img{
  width: 30px;
  height: 30px;
}
.table td,
th {
  text-align: center;
  padding: 15px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  background-color: #cccccc;
 
}

nav {
  background-color: #011627;
  padding: 15px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
}

nav a {
  margin-right:20px;
}
nav a.active {
  text-decoration: none;
  font-weight: bold ;
}
div{
  padding:3px 3px;
}
Form{
background-color: #011627;
padding: 15px;
margin: 0 auto; /* Added */
float: none; /* Added */
}
.card {
  margin: 0 auto; /* Added */
  margin-bottom: 10px; /* Added */
}